.green-btn {
    width: 170px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
    background-color: $spring_green;
    border: none;
    margin-top: 20px;
    padding: 5px 0;

    a {
        color: $raisin_black;
    }
}