* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

main {
    position: relative;
    width: 100%;
    @include flex_centered(column);
    background-color: $raisin_black;
    padding: 50px 10%;
    @include responsive($tablet_large) {
        padding: 50px 25%;
    }
}

.visible {
    opacity: 1 !important;
}

.invisible {
    opacity: 0 !important;
}

.hidden {
    display: none !important;
}

.show {
    display: flex !important;
}


