.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    
    .section-title {
        align-self: flex-start;
    }
    .contact-form {
        width: 100%;
        max-width: 500px;
        margin-bottom: 100px;
        
        &__input {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            label {
                color: white;
                font-family: "Montserrat", sans-serif;
                margin-bottom: 10px;
                font-size: 1.2rem;
            }
            input {
                height: 60px;
            }
            textarea {
                font-size: 1.2rem;
                font-family: "Montserrat", sans-serif;
            }
        }
        .green-btn {
            width: 100%;
            margin-top: 30px;
        }
    }
    .back-to-top {
        width: 100%;
        @include flex_centered(column);
        gap: 5px;
        
        .arrow-up {
            transform: rotate(180deg);
            width: 20px;
        }
        &__text {
            color: $spring_green;
            font-size: 1rem;
            font-family: "Montserrat", sans-serif;
        }
    }
   
}