.home {
    height: calc(100vh - 50px);
    width: 100%;
    padding: 100px 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .navigation {
        display: none;
    }
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header__title {
            font-size: 3.8rem;
            line-height: 1.2;        
        }

    }

    @keyframes upDown {
        20% {transform: translateY(10px);}
        50% {transform: translateY(0px);}
        75% {transform: translateY(10px);}
        100% {transform: translateY(0px);}
    }

    .mobile-arrow-down {
        width: 100%;
        text-align: center;
        transition: .3s;

        .mobile-arrow-down__icon {
            bottom: 20px;
            margin: auto;
            animation-name: upDown;
            animation-duration: 1s;
            animation-delay: 3s;
        }
    }

}