.work {
    width: 100%;
    padding: 100px 0;

    .skills__wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        max-width: 500px;
        margin: 30px 0 70px;
        @include responsive($tablet) {
            display: none;
        }

        .skills__first-skills {
            // flex-basis: 70%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .first-skills__item {
                display: flex;
                align-items: center;
                gap: 20px;

                h3 {
                    opacity: 0;
                    transition: 1s;
                }
                .first-skills__line {
                    height: 1px;
                    background-color: $text_white;
                    transition: 2.5s;
                }
            }
        }
        .skills__second-skills {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                opacity: 0;
                transition: 1s;
            }
        }
    }
    .projects {
        margin-top: 130px;

        &__wrap {
            display: flex;
            flex-direction: column;

            .projects__item {
                width: 100%;
                max-width: 300px;
                margin-top: 40px;

                .projects__img {
                    height: 200px;
                    width: 100%;
                    background-color: $text_white;
                }
                .projects__links {
                    margin-top: 10px;
                    display: flex;
                    gap: 10px;

                    .projects__link {
                        color: $text_white;
                        font-size: 1.3rem;
                        cursor: pointer;
                        &:hover {
                            color: $spring_green;
                        }
                    }     
                    span {
                        color: $text_white;
                        font-size: 1.3rem;
                    }
                }
            }
            @include responsive($tablet) {
                flex-direction: row;
                gap: 20px;
                justify-content: space-between;

                .projects__item {
                    width: 45%;
                    max-width: 400px;

                    .projects__img {
                        height: 160px;
                    }
                }
            }
        }
        .see-more {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            margin: 50px 0;

            a {
                color: $spring_green;
                font-family: "Montserrat", sans-serif;
                font-size: 1rem;
            }
            img { 
                width: 30px;
                object-fit: contain;
            }
        }
    }
}
